<div class="row text-center">
  <div class="col-md-8 offset-md-2">
    <div class="jumbotron" style="text-align: center;">
      <h1 class="display-3"><i class="fa fa-check" style="color: #2ecc71;"></i> Simple ToDos</h1>
      <p class="lead">Create Notes/ToDos that are deleted after 7 days.</p>
      <hr class="m-y-2">
      <p>This is a demo Rails App with Rails 5, devise, and a cronjob that deletes
      old ToDos. You can create an account and after that start creating 
      ToDos, which you can edit and delete if you're done, otherwise they will 
      automatically get deleted 7 days after their creation.</p>
      <a href="/todos" type="button" class="btn btn-primary btn-lg" style="background-color: #2ecc71;">Get started</a>
    </div>
  </div>
</div>
